<% include partials/header %>

<h1>Login</h1>

<form action="/login" method="POST">
    <input type="email" name="username" placeholder="email" id="">
    <input type="password" name="password" placeholder="password" id="">
    <button>Login</button>
</form>

<% include partials/footer %>