<% include partials/header %>

<h1>sign up form</h1>
<form action="/register" method="POST">
    <input type="email" name="username" placeholder="email" id="">
    <input type="password" name="password" placeholder="password" id="">
    <button>Submit</button>
</form>
<!-- <div class ="container form">

        <div class="jumbotron form"><h2><i class="fa fa-user-plus" aria-hidden="true"></i> Signup</h2></div>
        <form action = "/register" method="POST">
        <div class="form-group">
            <i class="fa fa-user" aria-hidden="true"></i>
            <label for="username">Username</label>
                <input type = "text" class = "form-control" placeholder = "Enter username" name="username"> 
        </div>
        <div class="form-group">
            <i class="fa fa-key" aria-hidden="true"></i>
            <label for="password">Password</label>
                <input type = "password" class ="form-control" placeholder = "Enter password" name="password1">
        </div>
        <div class="form-group">
            <i class="fa fa-key" aria-hidden="true"></i>
            <label for="password">Confirm password</label>
                <input type = "password" class ="form-control" placeholder = "Enter password" name = "password">
        </div>
        <div class="form-group">
        <i class="fa fa-picture-o" aria-hidden="true"></i>
            <label for="img">Image</label>
                <input type = "text" class ="form-control" placeholder = "Enter image URL" name = "image">
        </div>
            <button type ="submit" class="btn btn-primary btn-lg">Signup</button>
        </form>
        </div> -->

<% include partials/footer %>